<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BoardMapper">

    <select id="getBoardList" resultMap="BoardDtoBase">
        select board_num,
               title,
               content,
               writer,
               createddate
        from board
        order by createddate desc
    </select>
    <resultMap type="BoardDto" id="BoardDtoBase">
        <id column="Code" property="code"/>
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="createddate" property="createdDate"/>
    </resultMap>

    <select id="getMaxBoardNum" resultType="int">
        select MAX(board_num) from board
    </select>

    <select id="getBoardDetail" resultMap="BoardDtoBase">
        select board_num,
               title,
               content,
               writer,
               createddate
        from board
        where board_num = #{boardNum}
    </select>

    <select id="getCountBoard" resultType="int">
        select count(board_num) from board
    </select>

    <select id="getRelationBoard" resultMap="BoardDtoBase">
        select board_num,
               title,
               content,
               writer,
               createddate
        from board
        <if test="search != null">
            <foreach collection="search" item="item" open="where" separator="or">
            content like '%'||#{item}||'%'
            </foreach>
        and board_num != #{boardNum}
        </if>
    </select>

    <insert id="save" parameterType="BoardDto">
        insert into board(board_num, title, content, writer, createddate)
        values (#{boardNum},
                #{title},
                #{content},
                #{writer},
                SYSDATE)

    </insert>
</mapper>
