<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MemberMapper">

    <select id="getUserId" resultType="member">
        SELECT
            M_NO,
            M_EMAIL,
            M_PWD,
            M_AUTH,
            M_STATUS,
            M_PHONE,
            M_NAME,
            DEPT_ID,
            JOB_ID,
            CREATE_DATE,
            UPDATE_DATE
        FROM TB_MEMBER
        WHERE M_EMAIL = #{m_email}
    </select>

    <insert id="saveMember" parameterType="member">
        INSERT INTO TB_MEMBER
            (M_NO, M_EMAIL, M_PWD, M_NAME)
        VALUES (MEMBER_SEQ.NEXTVAL, #{m_email}, #{m_pwd}, #{m_name})
    </insert>


</mapper>